<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
Customer: <a th:text="${customer.getName()}">USER</a>

<br>

Money: <a th:text="${customer.getMoney()}">CREDIT</a>
<form method="post" action="http://localhost:8080/add-money">
    <input name="customer" type="hidden" id="customer" th:value="${customer.getName()}">
    <input name="password" type="hidden" id=":password" th:value="${customer.getPassword()}">
    <label for="money">Add money</label>
    <input name="money" type="number" id="money">

    <br>

    <input type="submit" value="Add money">
</form>

<br>

Orders:

</body>
</html>